.container{
    padding:0 25rem;
    }

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
  }

  .main h1{
    padding: 20px;
  }