.container{
    padding:0 25rem;
    }

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    font-size: large;
  }

  .blogItem h3{
    padding: 16px 0px 14px 0;

  }

  .main h2{
    padding: 15px;
  }